<launch>
  <include file="$(find jsk_2013_04_pr2_610)/launch/detect_with_image.launch">
    <arg name="camera" value="/camera/rgb" />
    <arg name="object" value="anpanman" />
    <arg name="window_name" value="anpanman_object" />
    <arg name="template_filename" value="$(find jsk_2014_04_pr2_73b2)/data/anpanman.jpg" />
    <arg name="object_width" value="0.075" />
    <arg name="object_height" value="0.105" />
    <arg name="relative_pose" value="0.0 0.0 0.0 0.0 0.0 0.0" />
	<arg name="reprojection_threshold" value="3.0" />
	<arg name="error_threshold" value="80.0" />
	<arg name="distanceratio_threshold" value="0.49" />
  </include>
</launch>
