<launch>
  <arg name="nao_ip"/>
  <arg name="use_sim" default="true" />
  <node name="sender_palm" pkg="jsk_2014_04_pr2_73b2" type="sender_palm.py" output="screen"/>
  <node name="leap_robot" pkg="roseus" type="roseus"
	args="$(find jsk_2014_04_pr2_73b2)/euslisp/leap_recieve_nao.l &quot;(progn (nao-start) (unix:sleep 1) (ros::exit) (exit))&quot;" output="screen"/>


  <include file="$(find nao_driver)/launch/nao_driver.launch"
	   unless="$(arg use_sim)">
	   <arg name="nao_ip" value="$(arg nao_ip)"/>
  </include>
</launch>